* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    /* background-color: #F5F5F5; */
    background: url('images/bg_img.png') no-repeat bottom center;
    background-size: cover;
    background-position: center;
}
.main-container {
     width: 90%;
     height: auto;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter:blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    margin: 4rem; 
}
.logo{
    float: left;

}
.logo img{
    width: 150px;
    height: auto;
    margin: 1rem;
}
.second-container{
    width: 60vw;
    height: 70%;
    margin: 2rem 4rem;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter:blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);

}
.second-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
.content-left{
    width: 60%;
}
.content-left h1{
    margin:1rem 0;
    font-size: 1.8rem;
    color: #0D4F91;
    margin-left: 10rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
.content-left p{
    font-size: 18px;
    margin: 3rem 5rem;
    color: #333;
    font-size: 1.1rem;
}
.content-left strong{
        color: #000;
}
.content-right{
    display: flex;
    flex-direction: column;

}
.content-right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 1rem;
    
}
.content-right .event-info{
    font-size:1rem;
    color: #333;
}
.event-info div{
    margin: 1rem 0;
    font-size: 1em;
}

.content-right i{
    font-size: 1rem;
    bottom: 0;
    margin-left: 0.5rem;
}
.bottom-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) ;
    border-radius: 50px;
    width: 500px;
    height: 80px;
    /* border: 1px solid black; */
    flex-direction: row;
    margin: 2rem 20rem;
}
.register-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
}
.register-btn:hover{
    background-color: darkred;
}
.right-desc{
    margin-left: 2rem;
    font-size: 1rem;

}
.left-text{
    margin: 0 3rem;
    font-size: 1.3rem;
}
.left-text p{
    color: #df2d2d;
}
.free-entry {
    float: right;
    margin-right: 2rem;
    border: 1px solid black;
    width : 150px;
    height: 150px;
    padding: 10px;
    border-radius:0px 0px 60px 5px;
    background-color: #df2d2d;
}

.free-entry p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    
    
}
.free-entry .seat-text{
    margin-top: 2rem;
    font-size: 1.1rem;
}



